<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dean/Faculty Admin Registration</title>
    <!-- Add Bootstrap CSS link here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    BODY{
        font-family: Arial, Helvetica, sans-serif;
        background-color:rgb(255, 255, 255);
    }
    *{
        box-sizing: border-box;
    }
    .container{
        padding: 20px;
        background-color:cornsilk;
    }
</style>
<body>
    <a href="/deanadmin" class="btn btn-outline-dark">Home</a>
    <div class="container mt-5">
        <h1>Dean / Faculty Registration</h1>
        <%- include ("./partials/message") %> 
        <form action="/deanadmin/deanres" method="POST">
            <div class="form-group">
                <label for="userType">Select User Type</label>
                <select class="form-control" id="userType" name="userType" value="<%= typeof userType != 'undefined'? userType : '' %>" >
                    <option value="Dean">Dean</option>
                    <option value="Faculty">Faculty</option>
                </select>
            </div>
            <div class="form-group">
                <label for="idnumber">ID Number: (18-xxxx-xxx)</label>
                <input type="text" class="form-control" id="idnumber" name="idnumber" value="<%= typeof idnumber != 'undefined'? idnumber : '' %>">
            </div>
            <div class="form-group">
                <label for="fullname">Full Name</label>
                <input type="text" class="form-control" id="fullname" name="fullname" value="<%= typeof fullname != 'undefined'? fullname : '' %>">
            </div>
            <div class="form-group">
                <label for="iemail">Institutional Email</label>
                <input type="email" class="form-control" id="iemail" name="iemail" value="<%= typeof iemail != 'undefined'? iemail : '' %>">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" value="<%= typeof password != 'undefined'? password : '' %>">
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input type="password" class="form-control" id="password2" name="password2" value="<%= typeof password2 != 'undefined'? password2 : '' %>">
            </div>
            <div>
                <label for="schoolType">School/University</label>
                <select class="form-control" id="schoolType" name="schoolType" value="<%= typeof schoolType != 'undefined'? schoolType : '' %>">
                    <option value="nofields">Choose...</option>
                    <% if (universityData) { %>
                        <% universityData.forEach(function(udata) { %>
                            <% if (udata.changeStatus !== 'Pending') { %>
                                <option value="<%= udata.addUniversity%>"><%= udata.addUniversity %></option>
                            <% } %>
                        <% }); %>
                    <% } %>	
                </select>
            </div>
            <div class="form-group">
                <label for="dateOfbirth">Date of Birth</label>
                <input type="date" class="form-control" id="dateOfbirth" name="dateOfbirth" value="<%= typeof dateOfbirth != 'undefined'? dateOfbirth : '' %>">
            </div>
            <div class="form-group">
                <label for="addressInput">Full Address</label>
                <input type="text" class="form-control" id="addressInput" name="addressInput" value="<%= typeof addressInput != 'undefined'? addressInput : '' %>">
            </div>
            <div>
                <label for="department">Department</label>
                <select class="form-control" id="department" name="department" value="<%= typeof department != 'undefined'? courseType : '' %>">
                    <option value="nofields">Choose...</option>
                    <option value="CASE">CASE</option>
                    <option value="CEA">CEA</option>
                </select>
            </div> 
            <div id="FacultyFields" style="display:none;">
                <br>
                <div>
                    <div class="form-group">
                        <label for="courseType">Course</label>
                        <input type="text" class="form-control" id="courseType" name="courseType" value="<%= typeof courseType != 'undefined'? courseType : '' %>">
                    </div>
                </div>
            </div>
            <br>
            <form action="/uploads" method="POST" enctype="multipart/form-data">
                <label for="fileDocu">Upload your documents here:(.pdf,.doc,.docx..10MB limit)</label>
                <input type="file" id="fileDocu" name="fileDocu" accept=".pdf, .doc, .docx">
                <br>
            </form>
            <br>
            <button type="submit" class="btn btn-primary" id="registerButton">Register</button>
            <p class="mt-3">Already registered? <a href="/deanadmin/deanlogin">Log in here</a></p>
        </form>
    </div>

    <!-- Add Bootstrap JS and jQuery links here -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        registerButton.addEventListener('click', (event) => {
        event.preventDefault();
        document.querySelector('form').submit();
        });
    </script>
    <script>
        const userTypeSelect = document.getElementById('userType');
        const facultyFields= document.getElementById('FacultyFields');

        userTypeSelect.addEventListener('change', () => {
            if (userTypeSelect.value === 'Faculty') {
                facultyFields.style.display = 'block';
            } else {
                facultyFields.style.display = 'none';
            }
        });
    </script>
    <script>
        
        $(document).ready(function () {
          $(".alert").not(".alert-success-msg").delay(3000).fadeOut(300, function () {
            $(this).alert('close');
          });
      
          $(".alert-success-msg").delay(5000).fadeOut(300);
        });
      </script>
</body>
</html>