<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Final Yearbook</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0; 
            background-color: cornsilk;
        }
        a {
            text-decoration: none;
        }
        li{
            list-style: none;
        }
        .container-fluid {
            background-color: rgb(248, 236, 186);
            position: fixed;
            top: 0;
            left: 0;
            height: 80px;
        }
        .container-fluid li{
            position: relative;
            padding-left: 248px;
            padding-bottom: 15px;
        }
        .header-container {
            display: flex; 
            align-items: center; 
        }
        .header h1 {
            margin: 0;
            padding-left: 2px;
            font-size: 30px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .header a {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 15px;
            color: black;
            text-decoration: underline;
            padding-left: 8px;
        }
        .header a :hover{
            color: rgb(230, 218, 174);
        }
        .NameHead p,
        .NameHead a {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 15px;
            color: black;
            display: inline; /* Set the display to inline */
            margin: 0; /* Remove default margin on the elements */
            padding-left: 10px;
        }
        .NameHead{
            position: fixed;
            left:78%;
            display: inline-block; 
        }
        .pclass{
            font-weight: bold;
            font-style: oblique;
        }
        .headN h6{
            font-weight: bold;
        }
        .custom-select {
            background-color: cornsilk;
            border: thin solid black;
            border-radius: 4px;
            display: inline-block;
            font: inherit;
            line-height: 1.5em;
            padding: 0.5em 1em 0.5em 1em; 
            margin: 0;      
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        .navbar{
            position: fixed;
            top: 80px;
            left: 0;
            width: 100%;
            align-items: center;
        }
        
        .navbar .table tr{
            background-color: rgb(252, 238, 182);
            margin: 0;
            padding: 0;
        }
        .navbar .table tr :hover{
            background-color: rgb(224, 217, 162);

        }
        .navbar .table tr th a{
            font-size: 11px;
            color: black;
            text-align: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .navbar li a{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 12px;
            color: black; 
            border: 15px 15px;
            border-color: black; 
        }
        .dashboard-content {
            position: fixed;
            top: 150px;
            left: 0;
            width: 100%;
            align-items: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .dashboard-content h1 {
            text-align: left;
            font-size: 25px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        p1{
            font-style: italic;
            font-size: 11px;
        }
        .scrollable-table {
            height: 600px; 
            overflow: auto; 
        }
        .scrollable-table tbody {
            background-color: cornsilk;
            text-align: center;
            font-size: 12px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            
        }
        .scrollable-table thead {
            position: sticky;
            top: 0;
            background-color: rgb(255, 238, 171); 
            z-index: 1;
            font-size: 13px;
            text-align: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .scrollable-table thead tr th{
            color: black;
        }
        .scrollable-table tbody tr td{
            
            color: black;
        }
        .scrollable-table tbody tr a{
            color: rgb(126, 126, 97);
            
        }
        .scrollable-table tbody tr a.hover{
            color: rgb(185, 185, 185);
        }
        .addDContent{
            position: fixed;
            background-color: rgb(236, 185, 123);
            width: 100%;
            height: 100%;
            display: flex;
        }
        .scrollable-table1{
            padding-left: 50px;
            max-height: 500px; 
            overflow: auto;
            right: 80px;
            flex: 1;
            margin-right:20px;
        }
        .scrollable-table1 tbody td {
            background-color: cornsilk;
            color: black;
            font-size: 12px;
            text-align: center;
        }
        .scrollable-table1 thead {
            color: black;
            position: sticky;
            top: 0;
            text-align: center;
            background-color: rgb(255, 238, 171); 
            z-index: 1;
        }
        .profileContainer{
            margin: 0;
            height: 100%;
            position: fixed;
        }
        .profile-card {
            width: 70%;
            height: 480px;
            margin-left: 400px;
            background-color:rgb(230, 211, 139);
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            overflow-y: scroll;
        }

        .profile-card h2 {
            margin-top: 0;
            font-size: 25px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .profile-card p {
            font-size: 15px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin: 5px 0;
        }
        .profile-card .imgC{
            text-align: center;
        }
        .profile-card a{
            text-decoration: none;
            list-style: none;
            font-size: 15px;
        }
        .edit-modal{
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
        }
        .edit-Name{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            position: relative;
            top: 250px;
            left: 25%;
            width: 50%;
            padding: 20px;
            border: 20px;
            border-radius: 10px;
            text-align: justify;
            height: 250px;
            background-color: rgb(231, 213, 140);
        }
        .edit-Name label{
            text-align: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .edit-Pass{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            position: relative;
            top: 180px;
            left: 25%;
            width: 50%;
            border: 20px;
            border-radius: 10px;
            padding: 20px;
            text-align: justify;
            height: 400px;
            background-color: rgb(231, 213, 140);
        }
        .edit-Pass label{
            text-align: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .hiringContainer{
            display: flex;
        }
        .formHiring{
            margin-left: 13px;
            width: 35%;
            height: 450px;
            background-color: rgb(250, 230, 150);
            border: 5px 5px solid;
            border-color: rgb(10, 10, 10);
            border-radius: 3%;
            padding-left: 45px;
            overflow-y: scroll;
        }
        .hiringContent{
            padding-left: 25px;
            overflow: auto; 
        }
        .hiringPosting{
            background-color: rgb(236, 185, 123);
            height: 460px;
            width: 99%;
            padding: 25px;
            overflow-y: scroll;
            border: 10px;
            border-radius: 3%;
        }
        .formHiring p{
            background-color: rgb(236, 185, 123);
            position: relative;
            left: 0px;
            width: 850px;
            padding-top: 10px;
            font-size: 13px;
        }
        .form-group .form-control {
            width: 350px;
            font-size: 12px;
        }
        .formHiring .imgC,
        .formHiring h1,
        .formHiring h6{
            text-align: justify;
        }
        .hiringContent{
            padding-left: 25px;
            overflow: auto; 
        }
        .hiringPosting{
            background-color: rgb(236, 185, 123);
            height: 460px;
            width: 350px;
            padding: 25px;
            overflow-y: scroll;
            border: 10px;
            border-radius: 3%;
        }
        .facultyList{
            height: 450px;
            width: 50%;
            padding-top: 13px;
            padding-bottom: 13px;
            background-color: rgb(228, 216, 171);
            position: fixed;
            left:325px;
            padding-right: 25px;
        }
        .headTitle{
            padding: 10px;
            text-align: center;
            background-color: cornsilk;
        }
        .headTitle h6{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 20px;
            padding-top: 2px;
        }
        .text-green {
            color: green;
        }

        .text-red {
            color: red;
        }
        .modalButton {
            background-color: #db3f34; 
            color: #0c0a0a; 
            padding: 10px 20px; 
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s; 

        }

        .modalButton:hover {
            background-color: rgb(112, 43, 22);
        }
        .select-modal{
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
        }
        .edit-Name{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            position: relative;
            top: 250px;
            left: 40%;
            width: 25%;
            padding: 20px;
            border: 20px;
            border-radius: 10px;
            text-align: justify;
            height: 250px;
            background-color: rgb(231, 213, 140);
        }
        .links-container {
            display: flex;
            justify-content: space-between;
            position: relative;
            top: 40px;
            right: 35px;
        }
        .links-container .btn-success{
            background-color: #28a745; 
            color: #fff;
            border: none;
            padding: 10px 33px;
            border-radius: 5px;
            cursor: pointer;
        }
        .links-container .btn-success  :hover{
            background-color: #195727;
        }
        .links-container .btn-danger {
            background-color: #dc3545;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }
        .links-container .btn-danger:hover {
            background-color: #c82333; /* Darker red on hover */
        }
        .AmodalButton {
            background-color: #42db34; 
            color: #0c0a0a; 
            padding: 10px 20px; 
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s; 

        }

        .AmodalButton:hover {
            background-color: rgb(22, 112, 74);
        }
        
        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
        }
        .modal-content {
            background-color: rgb(218, 194, 98);
            padding: 20px;
            border-radius: 5%;
            width: 450px;
            height: 300px;
        }
        .close {
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 10px;
        }
        .updateModalBtn{
            background-color: #42db34; 
            color: #0c0a0a; 
            padding: 10px 20px; 
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s; 
        }
        .updateModalBtn:hover {
            background-color: rgb(22, 112, 74);
        }
        .cancelButton{
            background-color: #db4734; 
            color: #0c0a0a; 
            padding: 10px 20px; 
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s; 
        }
        .cancelButton:hover {
            background-color: rgb(112, 55, 22);
        }
        .links-container2 {
            display: flex;
            justify-content: space-between;
            position: relative;
            padding-top: 100px;
        }
    </style>
</head>
<body>
    <% if(userType==='Dean'){ %>
        <div class="container-fluid">
            <header class="header">
                <div class="header-container">
                    <img src="/pictures/yearbook.png" alt="Logo" width="90" height="80">
                    <div class="headN">
                        <h6>The Final Yearbook</h6>
                        <h1><%= schoolType%>(<%=department%>)</h1>
                    </div>
                    
                    <div class="NameHead">
                        <div class="pclass"><p><%=userType%> Admin</p><br></div>
                        
                        <p>Welcome <%= fullname %></p>
                        <a href="/deanadmin/logout" class="btnCustom">
                            Logout
                        </a>
                    </div>
                </div>
            </header>
        </div>
        <nav  class="navbar">
            <table class="table table-bordered" id="modTable">
                <tbody>
                    <tr>
                        <th><a href="#fc"  class="nav-link nav-link-aboutU active">Department Chairman</a></th>
                        <th><a href="#acd" class="nav-link nav-link-acd">Add Department Name</a></th>
                        <th><a href="#afa" class="nav-link nav-link-afa">Active Department Chair Account</a></th>
                        <th><a href="#pfa" class="nav-link nav-link-pfa">Pending Department Chair Account</a></th>
                        <th><a href="#dfa" class="nav-link nav-link-dfa">Declined Department Chair Account</a></th>
                        <th><a href="#dap" class="nav-link nav-link-dap">Dean Admin Profile</a></th> 
                        <th><a href="#hc" class="nav-link nav-link-hc">Hiring Company Posting</a></th> 
                    </tr>
                </tbody> 
            </table>  
        </nav>
        <div class="container-fluid2">
            <div class="tab-content dashboard-content">
                <div class="tab-pane active" id="fc">
                    <%- include ("./partials/message") %> 
                    <p1>*Faculty or Courses that includes faculty handler in this department</p1>
                    <div class="facultyList">
                        <div class="scrollable-table1" id="table5"  >
                            <table class="table table-dark table-hover">
                                <thead>
                                    <div class="headTitle">
                                        <h6><%=department%></h6>
                                    </div>
                                    <tr>
                                        <th></th>  
                                        <th>Department</th>                                  
                                        <th>Chairman Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% let counter = 1;%>
                                    <% allUserData.forEach(function(user) { %>
                                        <% if (user.schoolType=== schoolType) { %>
                                            <% if (user.department === department && user.status !== 'Pending'){ %>
                                                <tr>
                                                    <td><%=counter++%></td>
                                                    <td><%=user.courseType%></td>
                                                    <td><%=user.fullname%></td>
                                                </tr>
                                            <% } %>
                                        <% } %>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="acd">
                    <p1>*Adding Courses/Faculty name to the database and to be posted on registration for Alumni/Graduating Student</p1>
                    <div class="addDContent">
                        <div class="scrollable-table1" id="table2"  >
                            <table class="table table-dark table-hover">
                                <thead>
                                    <tr>
                                        <th>Department</th>
                                        <th>Date Registered</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% facultyData.forEach(function(fdata) { %>                        
                                            <% if (fdata.addFUniversity === schoolType && fdata.addFDepartment === department){ %>
                                                <tr>
                                                    <td><%= fdata.addFaculty%></td>
                                                    <td><%= fdata.dateFRegistered.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: '2-digit' }) %></td>
                                                    <td>
                                                        <form action="/deanadmin/updatefacultystatus/<%= fdata._id %>" method="POST" >
                                                            <select class="custom-select <%= fdata.changeStatusF === 'Active' ? 'text-green' : (fdata.changeStatusF === 'Pending' ? 'text-red' : '') %>" name="changeStatusF">
                                                                <option value="<%= fdata.changeStatusF %>"><%= fdata.changeStatusF %></option>
                                                                <option value="Active">Active</option>
                                                                <option value="Pending">Pending</option>
                                                                <option value="Remove">Remove</option>
                                                            </select>
                                                            <button type="submit" class="btn btn-outline-dark">Update</button>
                                                            
                                                        </form>
                                                    </td>
                                                </tr>
                                            <% } %>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="afa">
                    <p1>*Active Faculty admins credentials</p1>
                    <div class="scrollable-table" id="table1"  >
                        <table class="table table-dark table-hover">
                            <thead>
                                <tr>
                                    <th>College</th>
                                    <th>Department</th>
                                    <th>ID Number</th>
                                    <th>Department Chair Name</th>
                                    <th>Institutional Email</th>
                                    <th>Date Of Birth</th>
                                    <th>Documents</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% allUserData.forEach(function(user) { %>
                                    <% if (user.schoolType === schoolType) { %>
                                        <% if (user.status === 'Active'&& user.department === department) { %>
                                            <tr>
                                                <td><%= user.department %></td>
                                                <td><%= user.courseType %></td>
                                                <td><%= user.idnumber %></td>
                                                <td><%= user.fullname %></td>
                                                <td><%= user.iemail %></td>     
                                                <td><%= user.dateOfbirth.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: '2-digit' }) %></td>
                                                <td><%= user.fileDocu %></td>
                                                <td>
                                                    <form action="/deanadmin/updatestatus/<%= user._id %>" method="POST">
                                                        <select class="custom-select" name="status">
                                                            <option value="<%= user.status %>"><%= user.status %></option>
                                                            <option value="Pending">Pending</option>
                                                            <option value="Decline">Decline</option>
                                                        </select>
                                                        <button type="submit" class="btn btn-outline-success">Update</button>
                                                    </form>
                                                </td>
                                            </tr>
                                        <% } %>
                                    <% } %>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="pfa">
                    <p1>*Pending Faculty admins credentials</p1>
                    <div class="scrollable-table" id="table1"  >
                        <table class="table table-dark table-hover">
                            <thead>
                                <tr>
                                    <th>College</th>
                                    <th>Department</th>
                                    <th>ID Number</th>
                                    <th>Department Chair Name</th>
                                    <th>Institutional Email</th>
                                    <th>Date Of Birth</th>
                                    <th>Documents</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% allUserData.forEach(function(user) { %>
                                    <% if (user.schoolType === schoolType) { %>
                                        <% if (user.status === 'Pending' && user.department === department) { %>
                                            <tr>
                                                <td><%= user.department %></td>
                                                <td><%= user.courseType %></td>
                                                <td><%= user.idnumber %></td>
                                                <td><%= user.fullname %></td>
                                                <td><%= user.iemail %></td>     
                                                <td><%= user.dateOfbirth.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: '2-digit' }) %></td>
                                                <td><%= user.fileDocu %></td>
                                                <td>
                                                    <form action="/deanadmin/updatestatus/<%= user._id %>" method="POST">
                                                        <select class="custom-select" name="status">
                                                            <option value="<%= user.status %>"><%= user.status %></option>
                                                            <option value="Active">Active</option>
                                                            <option value="Decline">Decline</option>
                                                        </select>
                                                        <button type="submit" class="btn btn-outline-success">Update</button>
                                                    </form>
                                                </td>
                                            </tr>
                                        <% } %>
                                    <% } %>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="dfa">
                    <p1>*Decline Faculty admins credentials</p1>
                    <div class="scrollable-table" id="table1"  >
                        <table class="table table-dark table-hover">
                            <thead>
                                <tr>
                                    <th>College</th>
                                    <th>Department</th>
                                    <th>ID Number</th>
                                    <th>Department Chair Name</th>
                                    <th>Institutional Email</th>
                                    <th>Date Of Birth</th>
                                    <th>Documents</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% allUserData.forEach(function(user) { %>
                                    <% if (user.schoolType === schoolType) { %>
                                        <% if (user.status === 'Decline'&& user.department === department) { %>
                                            <tr>
                                                <td><%= user.department %></td>
                                                <td><%= user.courseType %></td>
                                                <td><%= user.idnumber %></td>
                                                <td><%= user.fullname %></td>
                                                <td><%= user.iemail %></td>     
                                                <td><%= user.dateOfbirth.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: '2-digit' }) %></td>
                                                <td><%= user.fileDocu %></td>
                                                <td>
                                                    <form action="/deanadmin/updatestatus/<%= user._id %>" method="POST">
                                                        <select class="custom-select" name="status">
                                                            <option value="<%= user.status %>"><%= user.status %></option>
                                                            <option value="Pending">Restore to Pending</option>
                                                            <option value="Delete">Delete</option>
                                                        </select>
                                                        <button type="submit" class="btn btn-outline-success">Update</button>
                                                    </form>
                                                </td>
                                            </tr>
                                        <% } %>
                                    <% } %>
                                    
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="dap">
                    <p1>*Dean Admin Profile</p1>
                    <div class="profileContainer">
                        <div class="profile-card">
                            <h2>Admin Profile</h2>
                            <div class="imgC"><img src="/pictures/noimage.png" alt="Logo" width="200" height="180" style="border-radius: 50%;"></div>
                            <br>
                            <p><strong>Dean Admin Name: </strong><%= fullname %>  <a href="#editName" class="editNameBtn">Edit</a></p>
                            <p><strong>ID Number:</strong> <%= idnumber %></p>
                            <p><strong>Password: </strong>..*******...<a href="#editPass" class="editPassBtn">Edit</a></p>
                            <p><strong>Email:</strong> <%= iemail %></p>
                            <p><strong>School / University:</strong> <%= schoolType%></p>
                            <p><strong>College:</strong> <%= department%></p>
                            <p><strong>Date of Birth: </strong><%= dateOfbirth.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: '2-digit' })%></p>
                        </div>
                        <div class="edit-modal" id="editNameModal">
                            <div class="edit-Name" >
                                <form action="/deanadmin/updateName/<%= _id %>" method="POST">
                                    <h6>Change Name Details</h6>
                                    <label for="newfullname">Change Full Name</label>
                                    <input type="text" class="form-control" id="newfullname" name="newfullname" required value="<%= typeof newfullname != 'undefined'? newfullname : '' %>">
                                    <br>
                                    <button type="submit" class="btn btn-success" >Save Details</button>
                                    <button type="button" class="btn btn-danger" id="closeModal">Cancel</button>
                                </form>
                            </div>
                        </div>
                        <div class="edit-modal" id="editPassModal">
                            <div class="edit-Pass" >
                                <form action="/deanadmin/updatePassword/<%= _id %>" method="POST">
                                    
                                    <h6>Change Password Details</h6>
                                    <label for="currPass">Current Password</label>
                                    <input type="password" class="form-control" id="currPass" name="currPass" required value="<%= typeof currPass != 'undefined'? currPass : '' %>">
                                    <label for="newPass">New Password</label>
                                    <input type="password" class="form-control" id="newPass" name="newPass" required value="<%= typeof newPass != 'undefined'? newPass : '' %>">
                                    <label for="newPass2">Confirm New Password</label>
                                    <input type="password" class="form-control" id="newPass2" name="newPass2" required value="<%= typeof newPass2 != 'undefined'? newPass2 : '' %>"> <button type="button" class="btn btn-light" id="toggleCurrPass">Show Password</button>
                                    <br>
                                    <br>
                                    <button type="submit" class="btn btn-success" >Save Details</button>
                                    <button type="button" class="btn btn-danger" id="closeModal2">Cancel</button>
                                </form>
                            </div>
                        </div>
    
                    </div>
                </div>
                <div class="tab-pane" id="hc">
                    <p1>*Adding hiring Companies</p1>
                    <div class="hiringContainer">
                        <div class="formHiring" id="formHiring">
                            <form action="/deanadmin/pagedean" method="POST">
                                 <!-- Company Information -->
                                <div class="form-group">
                                    <label for="companyName">Company Name:</label>
                                    <input type="text" class="form-control" id="companyName" name="companyName" >
                                </div>
                                <div class="form-group">
                                    <label for="jobTitle">Job Title:</label>
                                    <input type="text" class="form-control" id="jobTitle" name="jobTitle" required>
                                </div>
                                <div class="form-group">
                                    <label for="jobDescription">Job Description:</label>
                                    <textarea id="jobDescription" class="form-control" name="jobDescription" ></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="jobRequirements">Job Requirements:</label>
                                    <textarea id="jobRequirements" class="form-control" name="jobRequirements" ></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="applicationInstructions">Application Instructions:</label>
                                    <textarea id="applicationInstructions" class="form-control" name="applicationInstructions" ></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="contactName">Contact Person's Name:</label>
                                    <input type="text" id="contactName" class="form-control" name="contactName" >
                                </div>
                                <div class="form-group">
                                    <label for="contactEmail">Contact Person's Email:</label>
                                    <input type="email" id="contactEmail" class="form-control" name="contactEmail">
                                </div>
                                <div class="form-group">
                                    <label for="contactNumber">Contact Person's Number:</label>
                                    <input type="string" id="contactNumber" class="form-control" name="contactNumber">
                                </div>

                                <!-- Submission Button -->
                                <button type="submit"class="btn btn-outline-dark">Post Job</button>
                            </form>
                        </div>
                        <div class="hiringContent">
                            <div class="scrollable-table1" id="table4"  >
                                <table class="table table-dark table-hover">
                                    <thead>
                                        <tr>
                                            <th>Company</th>                                  
                                            <th>Job Title</th>
                                            <th>Contact Person Name</th>
                                            <th>Contact Person Email</th>
                                            <th>Contact Person Number</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% HireData.forEach(function(hdata, indexCounter) { %>
                                            <tr>
                                                <td><%= hdata.companyName %></td>
                                                <td><%= hdata.jobTitle%></td>   
                                                <td><%= hdata.contactName %></td>   
                                                <td><%= hdata.contactEmail%></td>   
                                                <td><%= hdata.contactNumber%></td>
                                                <td><button type="submit"  class="modalButton" >X</button></td> 
                                    
                                            </tr>

                                            <div class="select-modal" id="selectModal<%= indexCounter %>">
                                                <div class="edit-Name" >
                                                    <h4>Are You Sure to Remove this Company Details in Hiring Posting?</h4>
                                                    <div class="links-container">
                                                        <form action="/deanadmin/updatehirestatus/<%= hdata._id %>" method="POST">
                                                            <button type="submit" name="changeStatusH" class="btn btn-success" value="Remove" id="closeModal2<%= indexCounter %>">Yes</button>                                   
                                                        </form>
                                                            <button type="button" class="btn btn-danger"  id="closeModal3<%= indexCounter %>">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>  
                                        <% }); %>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                        
                    </div>
                    </div>
                </div>
            </div>
        </div>
    <% }else {%>
   
        <div class="container-fluid">
            <header class="header">
                <div class="header-container">
                    <img src="/pictures/yearbook.png" alt="Logo" width="90" height="80">
                    <div class="headN">
                        <h6>The Final Yearbook</h6>
                        <h1><%= schoolType%>(<%=courseType%>)</h1>
                    </div>
                    
                    <div class="NameHead">
                        <div class="pclass"><p>Department Chair Admin</p><br></div>
                        
                        <p>Welcome <%= fullname %></p>
                        <a href="/deanadmin/logout" class="btnCustom">
                            Logout
                        </a>
                    </div>
                </div>
            </header>
        </div>
        <nav  class="navbar">
            <table class="table table-bordered" id="modTable">
                <tbody>
                    <tr>
                        <th><a href="#gs"  class="nav-link nav-link-gs ">Graduating Student</a></th>
                        <th><a href="#alum"  class="nav-link nav-link-alum active">Alumni</a></th>
                        <th><a href="#aga" class="nav-link nav-link-aga">Active Graduating/Alumni Account</a></th>
                        <th><a href="#pga" class="nav-link nav-link-pga">Pending Graduating/Alumni Account</a></th>
                        <th><a href="#dga" class="nav-link nav-link-dga">Declined Graduating/Alumni Account</a></th>
                        <th><a href="#fap" class="nav-link nav-link-fap">Department Chair Admin Profile</a></th> 
                    </tr>
                </tbody> 
            </table>  
        </nav>
        <div class="container-fluid2">
            <div class="tab-content dashboard-content">
                <div class="tab-pane active" id="gs">
                    <%- include ("./partials/message") %> 
                    <p1>*List of Graduating students </p1>
                    <div class="GraduatingList">
                        <div class="scrollable-table" id="table6"  >
                            <table class="table table-dark table-hover">
                                <thead>
                                    <tr>
					                    <th>ID Number</th>  
                                        <th>Fullname</th>  
                                        <th>College</th>                                  
                                        <th>courseType</th>
                                        <th>Date of Birth</th>
                                        <th>Graduation Date</th>
                                        <th>Change to Alumni</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% allstudentData.forEach(function(userS,indexCounter2) { %>
                                        <% if (userS.schoolType=== schoolType && userS.userType === 'Graduating') { %>
                                            <% if (userS.department === department && userS.status === 'Active' && userS.courseType === courseType){ %>
                                                <tr>
                                                    <td><%=userS.idnumber%></td>
                                                    <td><%=userS.fullname%></td>
						                            <td><%=userS.department%></td>
                                                    <td><%=userS.courseType%></td>
						                            <td><%=userS.dateOfbirth.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: '2-digit' })%></td>
                                                    <td><%=userS.graduationDate.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: '2-digit' })%></td>
                                                    <td><button type="submit"  class="AmodalButton" >Change</button></td> 
                                                </tr> 
                                            <% } %>
                                        <% } %>
                                    <% }); %>
                                </tbody>
                                <div id="myModal" class="modal">
                                    <div class="modal-content">
                                        <span class="close" onclick="closeModal()">&times;</span>
                                        <h4>Are you sure to change the Student to Alumni?</h4>
                                        <div class="links-container2">
                                            <button type="submit"  class="updateModalBtn" value="Update">Update</button>
                                            <button type="submit"  class="cancelButton" onclick="closeModal()">Cancel</button>
                                        </div>          
                                    </div>
                                </div>
                            </table>
                        </div>
                    </div>  
                </div>
                <div class="tab-pane" id="alum">
                    <p1>*List of Alumni</p1>
                    <div class="AlumniList">
                        <div class="scrollable-table" id="table6"  >
                            <table class="table table-dark table-hover">
                                <thead>
                                    <tr>
					                    <th>ID Number</th>  
                                        <th>Fullname</th>  
                                        <th>College</th>                                  
                                        <th>courseType</th>
                                        <th>Date of Birth</th>
                                        <th>Graduation Year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% allstudentData.forEach(function(userS) { %>
                                        <% if (userS.schoolType=== schoolType && userS.userType === 'Alumni') { %>
                                            <% if (userS.department === department && userS.status === 'Active' && userS.courseType === courseType){ %>
                                                <tr>
                                                    <td><%=userS.idnumber%></td>
                                                    <td><%=userS.fullname%></td>
						                            <td><%=userS.department%></td>
                                                    <td><%=userS.courseType%></td>
						                            <td><%=userS.dateOfbirth.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: '2-digit' })%></td>
                                                    <td><%=userS.graduationYear%></td>
                                                </tr>
                                            <% } %>
                                        <% } %>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="aga">
                    <p1>*Active Graduating students/Alumni credentials</p1>
                    <div class="scrollable-table" id="table1"  >
                        <table class="table table-dark table-hover">
                            <thead>
                                <tr>
                                    <th>Student Type</th>
                                    <th>College</th>
                                    <th>Department</th>
                                    <th>ID Number</th>
                                    <th>Department Chair Name</th>
                                    <th>Institutional Email</th>
                                    <th>Date Of Birth</th>
                                    <th>Documents</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% allstudentData.forEach(function(userS) { %>
                                    <% if (userS.schoolType === schoolType && userS.department === department && userS.courseType === courseType) { %>
                                        <% if (userS.status === 'Active' && (userS.userType ==='Graduating' || userS.userType ==='Alumni')) { %>
                                            <tr>
                                                <td><%= userS.userType %></td>
                                                <td><%= userS.department %></td>
                                                <td><%= userS.courseType %></td>
                                                <td><%= userS.idnumber %></td>
                                                <td><%= userS.fullname %></td>
                                                <td><%= userS.iemail %></td>     
                                                <td><%= userS.dateOfbirth.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: '2-digit' }) %></td>
                                                <td><%= userS.fileDocu %></td>
                                                <td>
                                                    <form action="/deanadmin/updatestatus/<%= userS._id %>" method="POST">
                                                        <select class="custom-select" name="status">
                                                            <option value="<%= userS.status %>"><%= userS.status %></option>
                                                            <option value="Pending">Pending</option>
                                                            <option value="Decline">Decline</option>
                                                        </select>
                                                        <button type="submit" class="btn btn-outline-success">Update</button>
                                                    </form>
                                                </td>
                                            </tr>
                                        <% } %>
                                    <% } %>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="pga">
                    <p1>*Pending Graduating students/Alumni credentials</p1>
                    <div class="scrollable-table" id="table1"  >
                        <table class="table table-dark table-hover">
                            <thead>
                                <tr>
                                    <th>Student Type</th>
                                    <th>College</th>
                                    <th>Department</th>
                                    <th>ID Number</th>
                                    <th>Department Chair Name</th>
                                    <th>Institutional Email</th>
                                    <th>Date Of Birth</th>
                                    <th>Documents</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% allstudentData.forEach(function(userS) { %>
                                    <% if (userS.schoolType === schoolType && userS.department === department && userS.courseType === courseType) { %>
                                        <% if (userS.status === 'Pending' && (userS.userType ==='Graduating'||userS.userType ==='Alumni')) { %>
                                            <tr>
                                                <td><%= userS.userType %></td>
                                                <td><%= userS.department %></td>
                                                <td><%= userS.courseType %></td>
                                                <td><%= userS.idnumber %></td>
                                                <td><%= userS.fullname %></td>
                                                <td><%= userS.iemail %></td>     
                                                <td><%= userS.dateOfbirth.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: '2-digit' }) %></td>
                                                <td><%= userS.fileDocu %></td>
                                                <td>
                                                    <form action="/deanadmin/updatestatus/<%= userS._id %>" method="POST">
                                                        <select class="custom-select" name="status">
                                                            <option value="<%= userS.status %>"><%= userS.status %></option>
                                                            <option value="Active">Active</option>
                                                            <option value="Decline">Decline</option>
                                                        </select>
                                                        <button type="submit" class="btn btn-outline-success">Update</button>
                                                    </form>
                                                </td>
                                            </tr>
                                        <% } %>
                                    <% } %>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="dga">
                    <p1>*Decline Graduating students/Alumni credentials</p1>
                    <div class="scrollable-table" id="table1"  >
                        <table class="table table-dark table-hover">
                            <thead>
                                <tr>
                                    <th>Student Type</th>
                                    <th>College</th>
                                    <th>Department</th>
                                    <th>ID Number</th>
                                    <th>Department Chair Name</th>
                                    <th>Institutional Email</th>
                                    <th>Date Of Birth</th>
                                    <th>Documents</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% allstudentData.forEach(function(userS) { %>
                                    <% if (userS.schoolType === schoolType && userS.department === department && userS.courseType === courseType) { %>
                                        <% if (userS.status === 'Decline'  && (userS.userType ==='Graduating'||userS.userType ==='Alumni')) { %>
                                            <tr>
                                                <td><%= userS.userType %></td>
                                                <td><%= userS.department %></td>
                                                <td><%= userS.courseType %></td>
                                                <td><%= userS.idnumber %></td>
                                                <td><%= userS.fullname %></td>
                                                <td><%= userS.iemail %></td>     
                                                <td><%= userS.dateOfbirth.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: '2-digit' }) %></td>
                                                <td><%= userS.fileDocu %></td>
                                                <td>
                                                    <form action="/deanadmin/updatestatus/<%= userS._id %>" method="POST">
                                                        <select class="custom-select" name="status">
                                                            <option value="<%= userS.status %>"><%= userS.status %></option>
                                                            <option value="Pending">Restore to Pending</option>
                                                            <option value="Delete">Delete</option>
                                                        </select>
                                                        <button type="submit" class="btn btn-outline-success">Update</button>
                                                    </form>
                                                </td>
                                            </tr>
                                        <% } %>
                                    <% } %>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="fap">
                    <p1>*Department Chair Admin Profile</p1>
                    <div class="profileContainer">
                        <div class="profile-card">
                            <h2>Admin Profile</h2>
                            <div class="imgC"><img src="/pictures/noimage.png" alt="Logo" width="200" height="180" style="border-radius: 50%;"></div>
                            <br>
                            <p><strong>Dean Admin Name: </strong><%= fullname %>  <a href="#editName" class="editNameBtn">Edit</a></p>
                            <p><strong>ID Number:</strong> <%= idnumber %></p>
                            <p><strong>Password: </strong>..*******...<a href="#editPass" class="editPassBtn">Edit</a></p>
                            <p><strong>Email:</strong> <%= iemail %></p>
                            <p><strong>School / University:</strong> <%= schoolType%></p>
                            <p><strong>College:</strong> <%= department%></p>
                            <p><strong>Course/Department:</strong> <%= courseType%></p>
                            <p><strong>Date of Birth: </strong><%= dateOfbirth.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: '2-digit' })%></p>
                        </div>
                        <div class="edit-modal" id="editNameModal">
                            <div class="edit-Name" >
                                <form action="/deanadmin/updateName/<%= _id %>" method="POST">
                                    <h6>Change Name Details</h6>
                                    <label for="newfullname">Change Full Name</label>
                                    <input type="text" class="form-control" id="newfullname" name="newfullname" required value="<%= typeof newfullname != 'undefined'? newfullname : '' %>">
                                    <br>
                                    <button type="submit" class="btn btn-success" >Save Details</button>
                                    <button type="button" class="btn btn-danger" id="closeModal">Cancel</button>
                                </form>
                            </div>
                        </div>
                        <div class="edit-modal" id="editPassModal">
                            <div class="edit-Pass" >
                                <form action="/deanadmin/updatePassword/<%= _id %>" method="POST">
                                    
                                    <h6>Change Password Details</h6>
                                    <label for="currPass">Current Password</label>
                                    <input type="password" class="form-control" id="currPass" name="currPass" required value="<%= typeof currPass != 'undefined'? currPass : '' %>">
                                    <label for="newPass">New Password</label>
                                    <input type="password" class="form-control" id="newPass" name="newPass" required value="<%= typeof newPass != 'undefined'? newPass : '' %>">
                                    <label for="newPass2">Confirm New Password</label>
                                    <input type="password" class="form-control" id="newPass2" name="newPass2" required value="<%= typeof newPass2 != 'undefined'? newPass2 : '' %>"> <button type="button" class="btn btn-light" id="toggleCurrPass">Show Password</button>
                                    <br>
                                    <br>
                                    <button type="submit" class="btn btn-success" >Save Details</button>
                                    <button type="button" class="btn btn-danger" id="closeModal2">Cancel</button>
                                </form>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    <% }%>

    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            
            
            const modalChoiceBtns = document.querySelectorAll('.modalButton');
            modalChoiceBtns.forEach((modalChoiceBtn, indexCounter) => {
                const selectModal = document.getElementById(`selectModal${indexCounter}`);
                const closeModalBtn2 = document.getElementById(`closeModal2${indexCounter}`);
                const closeModalBtn3 = document.getElementById(`closeModal3${indexCounter}`);
                modalChoiceBtn.addEventListener('click', (e) => {
                    e.preventDefault();
                    selectModal.style.display = 'block';
                });
                closeModalBtn2.addEventListener('click', () => {
                    selectModal.style.display = 'none';
                    
                });
                closeModalBtn3.addEventListener('click', () => {
                    selectModal.style.display = 'none';
                });
            });
        });
    </script>
    <script>
        const toggleCurrPass = document.getElementById('toggleCurrPass');
        const currPassInput = document.getElementById('currPass');
        const newPassInput = document.getElementById('newPass');
        const newPass2Input = document.getElementById('newPass2');

      
        toggleCurrPass.addEventListener('click', () => {
          togglePasswordVisibility(currPassInput);
          togglePasswordVisibility(newPassInput);
          togglePasswordVisibility(newPass2Input);
        });
        function togglePasswordVisibility(inputField) {
          if (inputField.type === 'password') {
            inputField.type = 'text';
            inputField.setAttribute('aria-label', 'Hide password');
          } else {
            inputField.type = 'password';
            inputField.setAttribute('aria-label', 'Show password');
          }
        }
      </script>
    <script>
        const editNameBtn = document.querySelector('.editNameBtn');
        const editPassBtn = document.querySelector('.editPassBtn');
        const editNameModal = document.getElementById('editNameModal');
        const editPassModal=document.getElementById('editPassModal');
        const closeModalBtn = document.getElementById('closeModal');
        const closeModalBtn2 =document.getElementById('closeModal2');
        
        editNameBtn.addEventListener('click', (e) => {
            e.preventDefault();
            editNameModal.style.display = 'block';
        });    
        closeModalBtn.addEventListener('click', () => {
            editNameModal.style.display = 'none';
        });
        editPassBtn.addEventListener('click',(r)=>{
            r.preventDefault();
            editPassModal.style.display='block';
        });
        closeModalBtn2.addEventListener('click',()=>{
            editPassModal.style.display='none';
        });
    </script>
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get all buttons that open the modal
        var modalButtons = document.querySelectorAll(".AmodalButton");

        // Loop through the buttons and add the click event listener
        modalButtons.forEach(function(button) {
            button.addEventListener("click", function() {
                // Get the userS.idnumber from the data-id attribute
                var userId = this.getAttribute("data-id");
                // You can use userId to fetch additional data or perform other actions

                // Open the modal
                modal.style.display = "flex";
            });
        });

        // Function to close the modal
        function closeModal() {
            modal.style.display = "none";
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function toggleTab(tabId) {
            // Hide all tab panes
            $('.tab-pane').removeClass('active');

            // Show the selected tab
            $(tabId).addClass('active');
        }

        // Click event for tab links
        $('.nav-link').click(function (e) {
            e.preventDefault();
            var tabId = $(this).attr('href');
            toggleTab(tabId);
        });
    </script>
    <script>
        
        $(document).ready(function () {
          $(".alert").not(".alert-success-msg").delay(3000).fadeOut(300, function () {
            $(this).alert('close');
          });
      
          $(".alert-success-msg").delay(5000).fadeOut(300);
        });
    </script>
    
</body>
</html>



