<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Final Yearbook</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0; 
            background-color: cornsilk;
        }
        a {
            text-decoration: none;
        }
        li{
            list-style: none;
        }
        .container-fluid {
            background-color: rgb(248, 236, 186);
            position: fixed;
            top: 0;
            left: 0;
            height: 80px;
        }
        .container-fluid li{
            position: relative;
            padding-left: 248px;
            padding-bottom: 15px;
        }
        .header-container {
            display: flex; 
            align-items: center; 
        }
        .header h1 {
            margin: 0;
            padding-left: 2px;
            font-size: 30px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .header h6 {
            margin: 0;
            font-size: 16px;
            font-weight: solid; /* Remove bold style if not needed */
        }
        .header a :hover{
            color: rgb(230, 218, 174);
        }
        .NameHead p,
        .NameHead a {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 15px;
            color: black;
            display: inline; /* Set the display to inline */
            margin: 0; /* Remove default margin on the elements */
            padding-left: 10px;
        }
        .NameHead{
            position: fixed;
            left:78%;
            display: inline-block; 
        }
        .pclass{
            font-weight: bold;
            font-style: oblique;
        }
        p1{
            font-style: italic;
            font-size: 11px;
        }
        .dashboard-content {
            position: fixed;
            top: 150px;
            left: 0;
            width: 100%;
            align-items: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .dashboard-content h1 {
            text-align: left;
            font-size: 25px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .scrollable-table {
            height: 600px; 
            overflow: auto; 
        }
        .scrollable-table tbody {
            background-color: cornsilk;
            font-size: 12px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            
        }
        .scrollable-table thead {
            position: sticky;
            top: 0;
            background-color: rgb(255, 238, 171); 
            z-index: 1;
            font-size: 13px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .scrollable-table thead tr th{
            color: black;
        }
        .scrollable-table tbody tr td{
            
            color: black;
        }
        .scrollable-table tbody tr a{
            color: rgb(126, 126, 97);
            
        }
        .scrollable-table tbody tr a.hover{
            color: rgb(185, 185, 185);
        }
        .custom-select {
            background-color: cornsilk;
            border: thin solid black;
            border-radius: 4px;
            display: inline-block;
            font: inherit;
            line-height: 1.5em;
            padding: 0.5em 1em 0.5em 1em; 
            margin: 0;      
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        .navbar{
            position: fixed;
            top: 80px;
            left: 0;
            width: 100%;
            align-items: center;
        }
        
        .navbar .table tr{
            background-color: rgb(252, 238, 182);
            margin: 0;
            padding: 0;
        }
        .navbar .table tr :hover{
            background-color: rgb(224, 217, 162);

        }
        .navbar .table tr th a{
            font-size: 11px;
            color: black;
            text-align: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .navbar li a{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 12px;
            color: black; 
            border: 15px 15px;
            border-color: black; 
        }
        .backContainer{
            display: flex;
        }
        .formBackground{
            margin-left: 13px;
            width: 35%;
            height: 450px;
            background-color: rgb(250, 230, 150);
            border: 5px 5px solid;
            border-color: rgb(10, 10, 10);
            border-radius: 3%;
            padding-left: 45px;
        }
        .formBackground label{
            padding-top: 10px;
            color: black;
            font-size: 12px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .form-group .form-control {
            width: 350px;
            font-size: 12px;
        }
        .bContainer{
            padding-left: 25px;
            overflow: auto; 
        }
        .backgroundContent{
            background-color: rgb(236, 185, 123);
            height: 460px;
            width: 99%;
            padding: 25px;
            overflow-y: scroll;
            border: 10px;
            border-radius: 3%;
        }
        .backgroundContent p{
            background-color: rgb(236, 185, 123);
            position: relative;
            left: 0px;
            width: 850px;
            padding-top: 10px;
            font-size: 13px;
        }
        .backgroundContent .imgC,
        .backgroundContent h1,
        .backgroundContent h6{
            text-align: justify;
        }
        .addDContent{
            position: fixed;
            background-color: rgb(236, 185, 123);
            width: 100%;
            height: 100%;
            display: flex;
        }
        .scrollable-table1{
            padding-left: 50px;
            max-height: 500px; 
            overflow: auto;
            right: 80px;
            flex: 1;
            margin-right:20px;
        }
        .scrollable-table1 tbody td {
            background-color: cornsilk;
            text-align: center;
            color: black;
            font-size: 12px;
        }
        .scrollable-table1 thead {
            color: black;
            position: sticky;
            top: 0;
            text-align: center;
            background-color: rgb(255, 238, 171); 
            z-index: 1;
        }
        .profileContainer{
            margin: 0;
            height: 100%;
            position: fixed;
        }
        .profile-card {
            width: 70%;
            height: 480px;
            margin-left: 400px;
            background-color:rgb(230, 211, 139);
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .profile-card h2 {
            margin-top: 0;
            font-size: 25px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .profile-card p {
            font-size: 15px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin: 5px 0;
        }
        .profile-card .imgC{
            text-align: center;
        }
        .profile-card a{
            text-decoration: none;
            list-style: none;
            font-size: 15px;
        }
        .edit-modal{
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
        }
        .edit-Name{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            position: relative;
            top: 250px;
            left: 25%;
            width: 50%;
            padding: 20px;
            border: 20px;
            border-radius: 10px;
            text-align: justify;
            height: 250px;
            background-color: rgb(231, 213, 140);
        }
        .edit-Name label{
            text-align: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .edit-Pass{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            position: relative;
            top: 180px;
            left: 25%;
            width: 50%;
            border: 20px;
            border-radius: 10px;
            padding: 20px;
            text-align: justify;
            height: 400px;
            background-color: rgb(231, 213, 140);
        }
        .edit-Pass label{
            text-align: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .text-green {
            color: green;
        }

        .text-red {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <header class="header">
            <div class="header-container">
                <img src="/pictures/yearbook.png" alt="Logo" width="90" height="80">
                <div class="headN">
                    <h6>The Final Yearbook</h6>
                    <h1><%= schoolType%></h1>
                </div>
                
                <div class="NameHead">
                    <div class="pclass"><p><%=userType%></p><br></div>
                    
                    <p>Welcome <%= fullname %></p>
                    <a href="/uadmin/logout" class="btnCustom">
                        Logout
                    </a>
                </div>
                
            </div>
        </header>
    </div>
    <nav  class="navbar">
        <table class="table table-bordered" id="modTable">
            <tbody>
                <tr>
                    <th><a href="#aboutU"  class="nav-link nav-link-aboutU active">University</a></th>
                    <th><a href="#addD" class="nav-link nav-link-addD">Add College Name </a></th>
                    <th><a href="#ad" class="nav-link nav-link-ad">Active Dean Account</a></th>
                    <th><a href="#pd" class="nav-link nav-link-pd">Pending Dean Account</a></th>
                    <th><a href="#DecD" class="nav-link nav-link-DecD">Declined Dean Account</a></th>
                    <th><a href="#uap" class="nav-link nav-link-uap">University Admin Profile</a></th> 
                </tr>
            </tbody> 
        </table>  
    </nav>
    <div class="container-2">
        <div class="tab-content dashboard-content">
            <div class="tab-pane active" id="aboutU">
                <%- include ("./partials/message") %> 
                <p1>*University Information</p1>
                <div class="backContainer">
                    <div class="formBackground" id="formBackground">
                        <form action="/uadmin/pageuadmin" method="POST">
                            <div class="form-group">
                                <label for="UnivAddTitle">University Name</label>
                                <input type="text" class="form-control" id="UnivAddTitle" name="UnivAddTitle" value="<%= schoolType %>">
                            </div>
                            <div class="form-group">
                                <label for="UnivEst">University Established</label>
                                <input type="text" class="form-control" id="UnivEst" name="UnivEst" value="<%= dateOfbirth.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: '2-digit' }) %>">
                            </div>
                            <div class="form-group">
                                <label for="addressB">Address</label>
                                <input type="text" class="form-control" id="addressB" name="addressB" value="<%= addressInput %>">
                            </div>
                            <div class="form-group">
                                <label for="UBackground">University Body/Background (*Type all the University background)</label>
                                <textarea class="form-control" id="UBackground" rows="4" name="UBackground" value="<%= typeof UBackground != 'undefined'? UBackground : '' %>"></textarea>
                                
                            </div>
                            <button type="submit" class="btn btn-outline-dark">Save Data</button>
                        </form>
                    </div>
                    <div class="bContainer">
                        <div class="backgroundContent">
                            <% uBackgroundData.forEach(function(backData){%>
                                <div class="imgC"><img src="/pictures/noimage.png" alt="Logo" width="220" height="220"></div>
                                <h1>School Name: <%= backData.UnivAddTitle %></h1>
                                <h6>Established: <%= backData.UnivEst %></h6>
                                <h6>Address: <%= backData.addressB %></h6>
                                <p>Background: <br><%= backData.UBackground %></p>
                            <%});%>
                        </div>
                    </div>
                    
                </div>
                
               
            </div>
            <div class="tab-pane" id="addD">
                <p1>*This content if for adding Dean department name that will be posted to the registration form to faculty and alumni/student </p1>
                <div class="addDContent">
                    <div class="scrollable-table1" id="table2"  >
                        <table class="table table-dark table-hover">
                            <thead>
                                <tr>
                                                                   
                                    <th>College</th>
                                    <th>Date Registered</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% departmentData.forEach(function(ddata) { %>
                                    
                                        <% if (ddata.addDUniversity === schoolType ){ %>
                                            <tr>
                                                
                                                <td><%= ddata.addDepartment %></td>
                                                <td><%= ddata.dateDRegistered.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: '2-digit' }) %></td>
                                                <td>
                                                    <form action="/uadmin/updatedepartmentstatus/<%= ddata._id %>" method="POST" >
                                                        <select class="custom-select <%= ddata.changeStatusD === 'Active' ? 'text-green' : (ddata.changeStatusD === 'Pending' ? 'text-red' : '') %>" name="changeStatusD">
                                                            <option value="<%= ddata.changeStatusD %>"><%= ddata.changeStatusD %></option>
                                                            <option value="Active">Active</option>
                                                            <option value="Pending">Pending</option>
                                                            <option value="Remove">Remove</option>
                                                        </select>
                                                        <button type="submit" class="btn btn-outline-dark">Update</button>
                                                        
                                                    </form>
                                                </td>
                                            </tr>
                                        <% } %>
                                        
                                    
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
                
            </div>
            <div class="tab-pane" id="ad">
                <p1>*Credentials for Dean Admin account that is 'Active'</p1>
                <div class="scrollable-table" id="table1"  >
                    <table class="table table-dark table-hover">
                        <thead>
                            <tr>
                                <th>College</th>
                                <th>ID Number</th>
                                <th>Full Name</th>
                                <th>Institutional Email</th>
                                <th>Date Of Birth</th>
                                <th>Documents</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% allUserData.forEach(function(user) { %>
                                <% if (user.schoolType === schoolType) { %>
                                    <% if (user.status === 'Active') { %>
                                        <tr>
                                            <td><%= user.department %></td>
                                            <td><%= user.idnumber %></td>
                                            <td><%= user.fullname %></td>
                                            <td><%= user.iemail %></td>     
                                            <td><%= user.dateOfbirth.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: '2-digit' }) %></td>
                                            <td><%= user.fileDocu %></td>
                                            <td>
                                                <form action="/uadmin/updatestatus/<%= user._id %>" method="POST">
                                                    <select class="custom-select" name="status">
                                                        <option value="<%= user.status %>"><%= user.status %></option>
                                                        <option value="Pending">Pending</option>
                                                        <option value="Decline">Decline</option>
                                                    </select>
                                                    <button type="submit" class="btn btn-outline-success">Update</button>
                                                </form>
                                            </td>
                                        </tr>
                                    <% } %>
                                <% } %>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="pd">
                <p1>*Credentials for Dean Admin account that is 'Pending'</p1>
                <div class="scrollable-table" id="table1"  >
                    <table class="table table-dark table-hover">
                        <thead>
                            <tr>
                                <th>College</th>
                                <th>ID Number</th>
                                <th>Full Name</th>
                                <th>Institutional Email</th>
                                <th>Date Of Birth</th>
                                <th>Documents</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <% allUserData.forEach(function(user) { %>
                            <% if (user.schoolType === schoolType) { %>
                                <% if (user.status === 'Pending') { %>
                                    <tr>
                                        <td><%= user.department %></td>
                                        <td><%= user.idnumber %></td>
                                        <td><%= user.fullname %></td>
                                        <td><%= user.iemail %></td>     
                                        <td><%= user.dateOfbirth.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: '2-digit' }) %></td>
                                        <td><%= user.fileDocu %></td>
                                        <td>
                                            <form action="/uadmin/updatestatus/<%= user._id %>" method="POST">
                                                <select class="custom-select" name="status">
                                                    <option value="<%= user.status %>"><%= user.status %></option>
                                                    <option value="Active">Active</option>
                                                    <option value="Decline">Decline</option>
                                                </select>
                                                <button type="submit" class="btn btn-outline-success">Update</button>
                                            </form>
                                        </td>
                                    </tr>
                                <% } %>
                            <% } %>
                            
                        <% }); %>
                    </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="DecD">
                <p1>*Credentials for Dean Admin account that is 'Decline'</p1>
                <div class="scrollable-table" id="table1"  >
                    <table class="table table-dark table-hover">
                        <thead>
                            <tr>
                                <th>College</th>
                                <th>ID Number</th>
                                <th>Full Name</th>
                                <th>Institutional Email</th>
                                <th>Date Of Birth</th>
                                <th>Documents</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% allUserData.forEach(function(user) { %>
                                <% if (user.schoolType === schoolType) { %>
                                    <% if (user.status === 'Decline') { %>
                                        <tr>
                                            <td><%= user.department %></td>
                                            <td><%= user.idnumber %></td>
                                            <td><%= user.fullname %></td>
                                            <td><%= user.iemail %></td>
                                            <td><%= user.dateOfbirth.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: '2-digit' }) %></td>
                                            <td><%= user.fileDocu %></td>
                                            <td>
                                                <form action="/uadmin/updatestatus/<%= user._id %>" method="POST">
                                                    <select class="custom-select" name="status">
                                                        <option value="<%= user.status %>"><%= user.status %></option>
                                                        <option value="Pending">Restore to Pending</option>
                                                        <option value="Delete">Delete</option>
                                                    </select>
                                                    <button type="submit" class="btn btn-outline-success">Update</button>
                                                </form>
                                            </td>
                                        </tr>
                                    <% } %>
                                <% } %>
                                
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="uap">
                <div class="profileContainer">
                    <div class="profile-card">
                        <h2>Admin Profile</h2>
                        <div class="imgC"><img src="/pictures/noimage.png" alt="Logo" width="200" height="180" style="border-radius: 50%;"></div>
                        <br>
                        <p><strong>University Admin Name: </strong><%= fullname %>  <a href="#editName" class="editNameBtn">Edit</a></p>
                        <p><strong>ID Number:</strong> <%= idnumber %></p>
                        <p><strong>Password: </strong>..*******...<a href="#editPass" class="editPassBtn">Edit</a></p>
                        <p><strong>Email:</strong> <%= iemail %></p>
                        <p><strong>School / University:</strong> <%= schoolType%></p>
                        <p><strong>Date Established: </strong><%= dateOfbirth.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: '2-digit' })%></p>
                    </div>
                    <div class="edit-modal" id="editNameModal">
                        <div class="edit-Name" >
                            <form action="/uadmin/updateName/<%= _id %>" method="POST">
                                <h6>Change Name Details</h6>
                                <label for="newfullname">Change Full Name</label>
                                <input type="text" class="form-control" id="newfullname" name="newfullname" required value="<%= typeof newfullname != 'undefined'? newfullname : '' %>">
                                <br>
                                <button type="submit" class="btn btn-success" >Save Details</button>
                                <button type="button" class="btn btn-danger" id="closeModal">Cancel</button>
                            </form>
                        </div>
                    </div>
                    <div class="edit-modal" id="editPassModal">
                        <div class="edit-Pass" >
                            <form action="/uadmin/updatePassword/<%= _id %>" method="POST">
                                <h6>Change Password Details</h6>
                                <label for="currPass">Current Password</label>
                                <input type="password" class="form-control" id="currPass" name="currPass" required value="<%= typeof currPass != 'undefined'? currPass : '' %>">
                                <label for="newPass">New Password</label>
                                <input type="password" class="form-control" id="newPass" name="newPass" required value="<%= typeof newPass != 'undefined'? newPass : '' %>">
                                <label for="newPass2">Confirm New Password</label>
                                <input type="password" class="form-control" id="newPass2" name="newPass2" required value="<%= typeof newPass2 != 'undefined'? newPass2 : '' %>"> <button type="button" class="btn btn-light" id="toggleCurrPass">Show Password</button>
                                <br>
                                <br>
                                <button type="submit" class="btn btn-success" >Save Details</button>
                                <button type="button" class="btn btn-danger" id="closeModal2">Cancel</button>
                            </form>
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
        
    </div>
    <script>
        const toggleCurrPass = document.getElementById('toggleCurrPass');
        const currPassInput = document.getElementById('currPass');
        const newPassInput = document.getElementById('newPass');
        const newPass2Input = document.getElementById('newPass2');

      
        toggleCurrPass.addEventListener('click', () => {
          togglePasswordVisibility(currPassInput);
          togglePasswordVisibility(newPassInput);
          togglePasswordVisibility(newPass2Input);
        });
        function togglePasswordVisibility(inputField) {
          if (inputField.type === 'password') {
            inputField.type = 'text';
            inputField.setAttribute('aria-label', 'Hide password');
          } else {
            inputField.type = 'password';
            inputField.setAttribute('aria-label', 'Show password');
          }
        }
      </script>
    <script>
        const editNameBtn = document.querySelector('.editNameBtn');
        const editPassBtn = document.querySelector('.editPassBtn');
        const editNameModal = document.getElementById('editNameModal');
        const editPassModal=document.getElementById('editPassModal');
        const closeModalBtn = document.getElementById('closeModal');
        const closeModalBtn2 =document.getElementById('closeModal2');
        
        editNameBtn.addEventListener('click', (e) => {
            e.preventDefault();
            editNameModal.style.display = 'block';
        });    
        closeModalBtn.addEventListener('click', () => {
            editNameModal.style.display = 'none';
        });
        editPassBtn.addEventListener('click',(r)=>{
            r.preventDefault();
            editPassModal.style.display='block';
        });
        closeModalBtn2.addEventListener('click',()=>{
            editPassModal.style.display='none';
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
          $('.nav-link').on('click', function() {
            // Check if the clicked link already has the 'active' class
            if (!$(this).hasClass('active')) {
              // Remove the 'active' class from all links
              $('.nav-link').removeClass('active');
              
              // Add the 'active' class to the clicked link
              $(this).addClass('active');
            }
          });
        });
        </script>
    <script>
        function toggleTab(tabId) {
            // Hide all tab panes
            $('.tab-pane').removeClass('active');

            // Show the selected tab
            $(tabId).addClass('active');
        }

        // Click event for tab links
        $('.nav-link').click(function (e) {
            e.preventDefault();
            var tabId = $(this).attr('href');
            toggleTab(tabId);
        });
    </script>
    <script>
        
        $(document).ready(function () {
          $(".alert").not(".alert-success-msg").delay(3000).fadeOut(300, function () {
            $(this).alert('close');
          });
      
          $(".alert-success-msg").delay(5000).fadeOut(300);
        });
    </script>
    
</body>

</html>
