<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Final Yearbook</title>
    <!-- Add your CSS styling here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0; /* Add this to remove default body margin */
        }
        a {
         text-decoration: none;
        }
        ul {
            list-style: none;
        }
        .sidebar {
            height: 100%;
            width: 250px;
            position: fixed;
            top: 0;
            left: 0;
            background-color: cornsilk;
            padding-top: 20px;
        }
        .sidebar ul li a {
            margin-left: 16px;
            padding: 20px 0;
            text-decoration: none;
            font-size: 18px;
            color: rgb(0, 0, 0);
            display: block;
        }
        .sidebar ul li a:hover {
            background-color: rgb(243, 227, 165);
        }
        .sidebar h1{
            font-size: 30px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-transform: capitalize;
            padding-left: 50px; 
            display: block;
        }
        
        .dashboard-content {
            padding-top: 30px;
            margin-top: 20px;
            text-align: center;
            padding-left: 200px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .tab-pane {
            display: none;
            text-align: left;
            padding-right: 35px;
            font-size: 11px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        p1{
            font-style: italic;
            font-size: 9px;
            padding-left: 70px;
        }
        .tab-pane.active {
            display: block;
        }
        .nav-link {
            transition: background-color 0.3s ease, color 0.3s ease;
        }
        .table{
            text-align: center;
            padding-left:150px ;
            
        }
        .scrollable-table {
            padding-left: 70px;
            max-height: 400px; 
            overflow: auto; 
            right: 70px;;
        }
        .scrollable-table tbody {
            background-color: cornsilk;
        }
        .scrollable-table thead {
            position: sticky;
            top: 0;
            background-color: rgb(255, 238, 171); 
            z-index: 1;
        }
        .scrollable-table thead tr th{
            color: black;
        }
        .scrollable-table tbody tr td{
            color: black;
        }
        .scrollable-table tbody tr a{
            color: rgb(126, 126, 97);
        }
        .scrollable-table tbody tr a.hover{
            color: rgb(185, 185, 185);
        }
        .sidebar .btn-secondary {
            background-color: transparent; 
            border: none;
            padding-right: 110px;
            
        }
        .custom-select {
            background-color: cornsilk;
            border: thin solid black;
            border-radius: 4px;
            display: inline-block;
            font: inherit;
            line-height: 1.5em;
            padding: 0.5em 1em 0.5em 1em; 
            margin: 0;      
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        
        .table-container{
            display: flex;
        }
        .scrollable-table1{
            padding-left: 70px;
            max-height: 450px; 
            max-width: 500px;
            overflow: auto;
            right: 80px;
            flex: 1;
            margin-right:20px;
        }
        .scrollable-table1 tbody {
            background-color: cornsilk;
        }
        .scrollable-table1 thead {
            position: sticky;
            top: 0;
            background-color: rgb(255, 238, 171); 
            z-index: 1;
        }
        .scrollable-table1 thead tr th{
            color: black;
        }
        .scrollable-table1 tbody tr td{
            color: black;
        }
        .scrollable-table1 tbody tr a{
            color: rgb(126, 126, 97);
        }
        .scrollable-table1 tbody tr a.hover{
            color: rgb(185, 185, 185);
        }
    </style>
</head>

<body>
  
    <!-- Sidebar -->
    <div class="sidebar">
        <h1>My Final Yearbook</h1>
        <ul>
            <li><a href="#addUniversity" class="nav-link nav-link-addUniversity active">Universities tab</a></li>
            <li><a href="#ura" class="nav-link nav-link-ura">Active University Account</a></li>
            <li><a href="#urp" class="nav-link nav-link-urp">Pending University Account</a></li>
            <li><a href="#declineU" class="nav-link nav-link-declineU">Decline University Account</a></li>
            <br>
            <br>

            <li><a href="/superadmin/logout" class="btn btn-secondary" >
            <img src="/pictures/exit.png" alt="Logout" style="width: 20px; height: 20px; vertical-align: middle;">
            Logout
            </a></li>   
            
        </ul>
        
    </div>
    <div class="container-2">
        <div class="tab-content dashboard-content">
            <div class="tab-pane active" id="addUniversity">
                <p1>*In this section it will show the list of Universities that registered on database and to be shown to the registrations forms for Students/Alumni and Dean/Faculty</p1>
                <%- include ("./partials/message") %> 
                <br>
                <div class="table-container">
                    <form action="/superadmin/directsaving" method="POST">
                        
                    </form>
                    <div class="scrollable-table1" id="table1"  >
                        <table class="table table-dark table-hover" id="modTable">
                            <thead>
                                <tr>
                                    <th> </th>
                                    <th>University Register</th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <thead>
                                <tr>
                                    <th>University</th>
                                    <th>Date Register</th>
                                    <th>Update University</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% universityData.forEach(function(udata) { %>
                                    <% if (udata.changeStatus !== 'Active') { %>
                                        <tr>
                                            <td><%= udata.addUniversity %></td>
                                            <td><%= udata.dateRegistered %></td>
                                            <td>
                                                <form action="/superadmin/updateuniversitystatus/<%= udata._id %>" method="POST" >
                                                    <select class="custom-select" name="changeStatus">
                                                        <option value="<%= udata.changeStatus %>"><%= udata.changeStatus %></option>
                                                        <option value="Active">Active</option>
                                                    </select>
                                                    <button type="submit" class="btn btn-outline-success">Update</button>
                                                    
                                                </form>
                                            </td>
                                        </tr>
                                    <% } %>
                                <% }); %>
                            </tbody>
                        </table>  
                    </div>
                    <div class="scrollable-table1" id="table2">
                        <table class="table table-dark table-hover" id="modTable2">
                            <thead>
                                <tr>
                                    <th> </th>
                                    <th>   Data Registered</th>
                                    <th> </th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <thead>
                                <tr>
                                    <th>University</th>
                                    <th>Date Register</th>
                                    <th>Status</th>
                                    <th>Change</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% universityData.forEach(function(udata) { %>
                                    <% if (udata.changeStatus === 'Active') { %>
                                        <tr>
                                            <td><%= udata.addUniversity %></td>
                                            <td><%= udata.dateRegistered %></td>
                                            <td><%= udata.changeStatus %></td>
                                            <td>
                                                <form action="/superadmin/updateuniversitystatus/<%= udata._id %>" method="POST">
                                                    <button type="submit" name="changeStatus" value="Remove" class="btn btn-outline-danger">Remove</button>
                                                </form>
                                            </td>
                                        </tr>
                                    <% } %>
                                <% }); %>
                            </tbody>
                        </table> 
                    </div>
                </div>
                
                
            </div>

            <div class="tab-pane" id="ura">
                <p1>*Credentials for University Admin account that is 'Active'</p1>
                <div class="scrollable-table" id="table1"  >
                    <table class="table table-dark table-hover">
                        <thead>
                            <tr>
                                <th>University</th>
                                <th>License Number</th>
                                <th>Full Name</th>
                                <th>Institutional Email</th>
                                <th>Established</th>
                                <th>Full Address</th>
                                <th>Documents</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% allUserData.forEach(function(user) { %>
                                <% if (user.status === 'Active') { %>
                                    <tr>
                                        <td><%= user.schoolType %></td>
                                        <td><%= user.idnumber %></td>
                                        <td><%= user.fullname %></td>
                                        <td><%= user.iemail %></td>     
                                        <td><%= user.dateOfbirth %></td>
                                        <td><%= user.addressInput %></td>
                                        <td><%= user.fileDocu %></td>
                                        <td>
                                            <form action="/superadmin/updatestatus/<%= user._id %>" method="POST">
                                                <select class="custom-select" name="status">
                                                    <option value="<%= user.status %>"><%= user.status %></option>
                                                    <option value="Pending">Pending</option>
                                                    <option value="Decline">Decline</option>
                                                </select>
                                                <button type="submit" class="btn btn-outline-success">Update</button>
                                            </form>
                                        </td>
                                    </tr>
                                <% } %>
                            <% }); %>
                        </tbody>
                      </table>
                </div>
            </div>

            <div class="tab-pane" id="urp">
                <p1>*Credentials for University Admin account that is 'Pending'</p1>
                <div class="scrollable-table" id="table1"  >
                    <table class="table table-dark table-hover">
                        <thead>
                            <tr>
                                <th>University</th>
                                <th>License Number</th>
                                <th>Full Name</th>
                                <th>Institutional Email</th>
                                <th>Established</th>
                                <th>Full Address</th>
                                <th>Documents</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% allUserData.forEach(function(user) { %>
                                <% if (user.status === 'Pending') { %>
                                    <tr>
                                        <td><%= user.schoolType %></td>
                                        <td><%= user.idnumber %></td>
                                        <td><%= user.fullname %></td>
                                        <td><%= user.iemail %></td>
                                        <td><%= user.dateOfbirth %></td>
                                        <td><%= user.addressInput %></td>
                                        <td><%= user.fileDocu %></td>
                                        <td>
                                            <form action="/superadmin/updatestatus/<%= user._id %>" method="POST">
                                                <select class="custom-select" name="status">
                                                    <option value="<%= user.status %>"><%= user.status %></option>
                                                    <option value="Active">Active</option>
                                                    <option value="Decline">Decline</option>
                                                </select>
                                                <button type="submit" class="btn btn-outline-success">Update</button>
                                            </form>
                                        </td>
                                    </tr>
                                <% } %>
                            <% }); %>
                        </tbody>
                      </table>
                </div> 
            </div>

            <div class="tab-pane" id="declineU">
                <p1>*Credentials for University Admin account that is 'Decline'</p1>
                <div class="scrollable-table" id="table1"  >
                    <table class="table table-dark table-hover">
                        <thead>
                            <tr>
                                <th>University</th>
                                <th>License Number</th>
                                <th>Full Name</th>
                                <th>Institutional Email</th>
                                <th>Established</th>
                                <th>Full Address</th>
                                <th>Documents</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% allUserData.forEach(function(user) { %>
                                <% if (user.status === 'Decline') { %>
                                    <tr>
                                        <td><%= user.schoolType %></td>
                                        <td><%= user.idnumber %></td>
                                        <td><%= user.fullname %></td>
                                        <td><%= user.iemail %></td>
                                        <td><%= user.dateOfbirth %></td>
                                        <td><%= user.addressInput %></td>
                                        <td><%= user.fileDocu %></td>
                                        <td>
                                            <form action="/superadmin/updatestatus/<%= user._id %>" method="POST">
                                                <select class="custom-select" name="status">
                                                    <option value="<%= user.status %>"><%= user.status %></option>
                                                    <option value="Pending">Restore to Pending</option>
                                                    <option value="Delete">Delete</option>
                                                </select>
                                                <button type="submit" class="btn btn-outline-success">Update</button>
                                            </form>
                                        </td>
                                    </tr>
                                <% } %>
                            <% }); %>
                        </tbody>
                      </table>
                </div>
            
            </div>
        </div>
     
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Function to toggle the tabs
        function toggleTab(tabId) {
            // Hide all tab panes
            $('.tab-pane').removeClass('active');
    
            // Show the selected tab
            $(tabId).addClass('active');
        }
    
        // Click event for tab links
        $('.nav-link').click(function (e) {
            e.preventDefault();
            var tabId = $(this).attr('href');
            toggleTab(tabId);
        });
    </script>
    <script>
        
        $(document).ready(function () {
          $(".alert").not(".alert-success-msg").delay(3000).fadeOut(300, function () {
            $(this).alert('close');
          });
      
          $(".alert-success-msg").delay(5000).fadeOut(300);
        });
      </script>
      
</body>
</html>
