<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Final Yearbook</title>
</head>
<body>
    <h1>My Final Yearbook</h1>
    <p>Welcome <%= userType %></p>
    <ul>
        <li><strong>School License:</strong> <%= idnumber %></li>
        <li><strong>Full Name:</strong> <%= fullname %></li>
        <li><strong>Email:</strong> <%= iemail %></li>
        <li><strong>School/University:</strong> <%= schoolType %></li>
        <li><strong>Established</strong> <%= dateOfbirth %></li>
    </ul>
        
    </ul>
</body>
</html>

<!-- Logout button -->
<a href="/uadmin/logout" class="btn btn-secondary">Logout</a>