<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Final Yearbook</title>
</head>
<body>
    <h1>My Final Yearbook</h1>
    <p>Welcome <%= userType %> Student</p>
    <ul>
        
        <li><strong>ID Number:</strong> <%= idnumber %></li>
        <li><strong>Full Name:</strong> <%= fullname %></li>
        <li><strong>Email:</strong> <%= iemail %></li>
        <li><strong>School/University:</strong> <%= schoolType %></li>
        <li><strong>Date of Birth</strong> <%= dateOfbirth %></li>
        <li><strong>Graduation D    ate:</strong> <%= graduationDate %></li>
        <li><strong>Department:</strong> <%= department %></li>
        <li><strong>Course Type:</strong> <%= courseType %></li>
        <li><strong>Graduation Year:</strong> <%= graduationYear %></li>
        
    </ul>
</body>
</html>

<!-- Logout button -->
<a href="/logout" class="btn btn-secondary">Logout</a>
