<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Admin Registration</title>
    <!-- Add Bootstrap CSS link here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    BODY{
        font-family: Arial, Helvetica, sans-serif;
        background-color:rgb(255, 255, 255);
    }
    *{
        box-sizing: border-box;
    }
    .container{
        padding: 20px;
        background-color:cornsilk;
    }
</style>
<body>
    <a href="/uadmin" class="btn btn-outline-dark">Home</a>
    <div class="container mt-5">
        <h1>University Registration</h1>
        <%- include ("./partials/message") %> 
        <form action="/uadmin/uadminres" method="POST">
            
            <div class="form-group">
                <label for="idnumber">School License Number</label>
                <input type="text" class="form-control" id="idnumber" name="idnumber" value="<%= typeof idnumber != 'undefined'? idnumber : '' %>">
            </div>
            <div class="form-group">
                <label for="fullname">Full Name (University Admin)</label>
                <input type="text" class="form-control" id="fullname" name="fullname" value="<%= typeof fullname != 'undefined'? fullname : '' %>">
            </div>
            <div class="form-group">
                <label for="iemail">Institutional Email</label>
                <input type="email" class="form-control" id="iemail" name="iemail" value="<%= typeof iemail != 'undefined'? iemail : '' %>">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" value="<%= typeof password != 'undefined'? password : '' %>">
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input type="password" class="form-control" id="password2" name="password2" value="<%= typeof password2 != 'undefined'? password2 : '' %>">
            </div>
            <div  class="form-group">
                <label for="schoolType">University (Complete Name)</label>
                <input type="schoolType" class="form-control" id="schoolType" name="schoolType" value="<%= typeof schoolType != 'undefined'? schoolType : '' %>">
            </div>
            <div class="form-group">
                <label for="dateOfbirth">Date Established</label>
                <input type="date" class="form-control" id="dateOfbirth" name="dateOfbirth" value="<%= typeof dateOfbirth != 'undefined'? dateOfbirth : '' %>">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Register</button>
            <p class="mt-3">Already registered? <a href="/uadmin/uadminlogin">Log in here</a></p>
        </form>
    </div>

    <!-- Add Bootstrap JS and jQuery links here -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        // Remove "fade" class after 5 seconds
        $(document).ready(function () {
          $(".alert").not(".alert-success-msg").delay(3000).fadeOut(300, function () {
            $(this).alert('close');
          });
      
          $(".alert-success-msg").delay(5000).fadeOut(300);
        });
      </script>

</body>
</html>