<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration</title>
    <!-- Add Bootstrap CSS link here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    BODY{
        font-family: Arial, Helvetica, sans-serif;
        background-color:rgb(255, 255, 255);
    }
    *{
        box-sizing: border-box;
    }
    .container{
        padding: 20px;
        background-color:cornsilk;
    }
    
</style>
<body>
    <a href="/" class="btn btn-outline-dark">Home</a>
    <div class="container mt-5">
        <h1>Student Registration</h1>
        <%- include ("./partials/message") %> 
        <form action="/userres" method="POST">
            <div class="form-group">
                <label for="userType">Select User Type</label>
                <select class="form-control" id="userType" name="userType" value="<%= typeof userType != 'undefined'? userType : '' %>" >
                    <option value="Graduating">Graduating Student</option>
                    <option value="Alumni">Alumni Student</option>
                </select>
            </div>
            <div class="form-group">
                <label for="idnumber">ID Number: (18-xxxx-xxx)</label>
                <input type="text" class="form-control" id="idnumber" name="idnumber" value="<%= typeof idnumber != 'undefined'? idnumber : '' %>">
            </div>
            <div class="form-group">
                <label for="fullname">Full Name</label>
                <input type="text" class="form-control" id="fullname" name="fullname" value="<%= typeof fullname != 'undefined'? fullname : '' %>">
            </div>
            <div class="form-group">
                <label for="iemail">Institutional Email</label>
                <input type="email" class="form-control" id="iemail" name="iemail" value="<%= typeof iemail != 'undefined'? iemail : '' %>">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" value="<%= typeof password != 'undefined'? password : '' %>">
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input type="password" class="form-control" id="password2" name="password2" value="<%= typeof password2 != 'undefined'? password2 : '' %>">
            </div>
            <div>
                <label for="schoolType">School/University</label>
                <select class="form-control" id="schoolType" name="schoolType" >
                    <option value="nofields">Choose...</option>
                    
                </select>
            </div>
            <div>
                <label for="department">College</label>
                <select class="form-control" id="department" name="department">
                    <option value="nofields">Choose...</option>
                    
                </select>
            </div>
            <div>
                <label for="courseType">Department</label>
                <select class="form-control" id="courseType" name="courseType" value="<%= typeof courseType != 'undefined'? courseType : '' %>">
                    <option value="nofields">Choose...</option>
                </select>
            </div>
            <div class="form-group">
                <label for="dateOfbirth">Date of Birth</label>
                <input type="date" class="form-control" id="dateOfbirth" name="dateOfbirth" value="<%= typeof dateOfbirth != 'undefined'? graduationDate : '' %>">
            </div>
            <div class="form-group">
                <label for="graduationDate">Graduation Date</label>
                <input type="date" class="form-control" id="graduationDate" name="graduationDate" value="<%= typeof graduationDate != 'undefined'? graduationDate : '' %>">
            </div>

            <div id="AlumniFields" style="display:none;">
                <div class="form-group">
                    <label for="graduationYear">Graduation Year</label>
                    <input type="text" class="form-control" id="graduationYear" name="graduationYear" value="<%= typeof graduationYear != 'undefined'? graduationYear : '' %>">
                </div>
                
                <form action="/uploads" method="POST" enctype="multipart/form-data">
                    <label for="fileDocu">Upload your documents here:(.pdf,.doc,.docx..10MB limit)</label>
                    <input type="file" id="fileDocu" name="fileDocu" accept=".pdf, .doc, .docx">
                    <br>
                </form>
            </div>
            <br>
            <button type="submit" class="btn btn-primary" id="registerButton">Register</button>
            <p class="mt-3">Already registered? <a href="/userlogin">Log in here</a></p>
        </form>
    </div>

    <script>
        registerButton.addEventListener('click', (event) => {
        event.preventDefault();
        document.querySelector('form').submit();
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        // Fetch university data from the server
        fetch('/universities')
          .then(response => response.json())
          .then(data => {
            const selectElement = document.getElementById('schoolType');
            data.forEach(university => {
              const option = document.createElement('option');
              option.value = university.addUniversity;
              option.text = university.addUniversity;
              selectElement.add(option);
            });
          })
          .catch(error => console.error('Error fetching data:', error));
      </script>
    <script>
        const schoolTypeSelect = document.getElementById('schoolType');
        const departmentSelect = document.getElementById('department');
        schoolTypeSelect.addEventListener('change', () => {
            const selectedUniversity = schoolTypeSelect.value;
            const selectedepartment = departmentSelect.value;
            console.log('University Data: ', selectedUniversity);
            if (selectedUniversity !== 'nofields') {
                // Make an AJAX request to fetch department data for the selected university
                $.ajax({
                    url: '/fetch-departments',
                    method: 'GET',
                    data: { schoolTypeVal: selectedUniversity },
                    success: function (data) {
                        // Update the "Department" dropdown with the received data
                        departmentSelect.innerHTML = '<option value="nofields">Choose...</option>';
                        data.forEach(function (ddata) {
                            if (ddata.changeStatusD !== 'Pending') {
                                const option = document.createElement('option');
                                option.value = ddata.addDepartment;
                                option.textContent = ddata.addDepartment;
                                departmentSelect.appendChild(option);
                            }
                        });
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            }else {
                // Reset the "Department" dropdown if no university is selected
                departmentSelect.innerHTML = '<option value="nofields">Choose...</option>';
            }
        });
    </script>
    <script>
        const courseSelect = document.getElementById('courseType');
        departmentSelect.addEventListener('change', () => {
            const selectedUniversity = schoolTypeSelect.value;
            const selectedDepartment = departmentSelect.value;
            if (selectedDepartment !== 'nofields' && selectedUniversity !== 'nofields') {
                // Make an AJAX request to fetch course data for the selected department
                $.ajax({
                    url: '/fetch-courseType',
                    method: 'GET',
                    data: { schoolTypeVal: selectedUniversity, courseTypeVal: selectedDepartment },
                    success: function (data) {
                        // Clear existing options before adding new ones
                        courseSelect.innerHTML = '<option value="nofields">Choose...</option>';
                        data.forEach(function (fdata) {
                            if (fdata.changeStatusF !== 'Pending') {
                                const option = document.createElement('option');
                                option.value = fdata.addFaculty;
                                option.textContent = fdata.addFaculty;
                                courseSelect.appendChild(option);
                            }
                        });
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            } else {
                // Reset the "Course Type" dropdown if no department is selected
                courseSelect.innerHTML = '<option value="nofields">Choose...</option>';
            }
        });
    </script>
    
    
    <script>
        const userTypeSelect = document.getElementById('userType');
        const alumniFields = document.getElementById('AlumniFields');
        const registerButton = document.getElementById('registerButton');

        userTypeSelect.addEventListener('change', () => {
            if (userTypeSelect.value === 'Alumni') {
                alumniFields.style.display = 'block';
            } else {
                alumniFields.style.display = 'none';
            }
        });
        registerButton.addEventListener('click', (event) => {
        event.preventDefault();
        document.querySelector('form').submit();
        });
    </script>
    <script>
        $(document).ready(function () {
          $(".alert").not(".alert-success-msg").delay(3000).fadeOut(300, function () {
            $(this).alert('close');
          });
      
          $(".alert-success-msg").delay(5000).fadeOut(300);
        });
    </script>
</body>
</html>